<!-- views/partials/footer.ejs -->
<center>
    <h1></h1>         
        <a href="/main/departments/Engineering/posts">
            Get All Posts In Engineering Department
        </a>
          ||  
        <a href="/main/users/Manifest/posts">
            Get All Posts By Manifest
        </a>
          ||  
        <a href="/main/users/Manifest/departments/Engineering/posts">
            Get All Posts By Manifest In Engineering Department
        </a>
          ||  
        <a href="/main/roles/Manager/users">
            Get All Users In A Manager Role
        </a>
        <br/>
        <a href="/main/profiles/Administrator/users">
            Get All Users In An Administrator Profile
        </a>
          ||  
        <a href="/main/categories/Music/posts">
            Get all Posts In Music Category
        </a>
          ||  
        <a href='/main/current-businesses/Company%20ABC/users/Dexcodes/posts'>
            Get all Posts by a User::Dexcodes:: belonging
            to Company ABC Business
        </a><br/>

        <a href='/main/current-businesses/Company%20123/departments/Engineering/users/Sydney/posts'>
            Get all Posts by a User::Sydney:: in Company 123
            Business, Engineering department
        </a>
          ||  
        <a href='/main/current-businesses/Company%20ABC/posts'>
            Get all Posts for Company ABC Business
        </a><br/>

        <a href=
            '/main/current-businesses/Company%20ABC/departments/Engineering/roles/Manager/profiles/Administrator/users/Sahmie/posts'>
            Get all Posts by a User::Sahmie:: in Company ABC 
            Business, Engineering department, Manager role, 
            Administrator profile
        </a>
</center>
<br/>
<p class="text-center text-muted">© Copyright 2020 Manifest & Company Inc.</p>



 







 
